.project-container {
    width: 100vw;
    height: 40rem;
    overflow: auto;
    margin-left: -2rem !important;
}

.project-light {
    background-color: rgb(216, 206, 255, 0.8);
}

.project-dark {
    background-color: rgb(157, 133, 255, 0.8);
}

.image-project {
    height: 32.5rem;
    width: 57rem;
}


.title-project {
    margin-bottom: 3rem;
    text-align: center;
}

@media(max-width: 100rem){
    .project-container {
        height: auto;
    }
}