* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: #5398FF;
  font-family: 'Shanti', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.container-pai {
	display: flex;
  width: 65%;
	height: 100vh;
  background: #DBDAF0;
}

.container-esquerda {
  width: 25%;
	padding-left: 33px;
}

.container-esquerda img {
  max-width: 250px;
  max-height: 400px;
  border-radius: 12%;
  margin: 20px 0 21px 0;
}

.container-direita {
	position: absolute;
	left: 30%;
	background: white;
	width: 51%;
  height: 87vh;
	margin-top: 48px;
  /*padding:cima direita baixo esquerda*/
  padding: 1.5% 2.5% 0 2.5%;
  border-radius: 3%;
}

.container-esquerda h1 {
	font-size: 41px;
	text-align: center;
  margin-bottom: 10px;
}

.container-esquerda ul li{
  font-size: 20px;
}

.container-esquerda h2 {
  font-size: 36px;
  text-align: center;
	margin: 20px 0px 14px 0px;
  
}

.container-direita h1 {
	font-size: 41px;
	text-align: center;
  margin-bottom: 20px;
}

.container-direita h2 {
  font-size: 24px;
  margin: 0 0 20px 0;
}

.container-direita h3 {
  font-size: 20px;
  margin: 25px 0 10px 0;
}

.container-direita p {
  font-size: 18px;
}