@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;500&family=Ubuntu:wght@300;500&display=swap');

:root {
    --very-dark-blue: #10045E;
    --dark-blue: #4353FF;
    --light-blue: #919AFF;
    --black: #000;
}

body, input, p, h1, button {
    font: 400 2.4rem 'Roboto', sans-serif;
    color: var(--black);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.6rem !important;
    font-weight: 500; 
}

html {
    font-size: 62.5%; /*Now 1 rem = 10px*/
    max-width: 100%;
    overflow-x: hidden;
}

.page-container {
    margin: 2rem;
}

.button {
    width: 22rem;
    height: 7rem;
    border-radius: 15px;
    margin: 3rem;
}


@media(max-width: 991px) {
    body, input, p, button {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 2.4rem;
    }
}
