.about-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    > h1 {
        margin-bottom: 20px;
    }
}

.pastes-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}
