* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #232222;
    color: #FFF;
}

input, button, textarea, a, p, h1, h2, ul, li{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 36px;
    font-weight: normal;
}

h2 {
    font-size: 24px;
    font-weight: normal;
}

.page-layout {
    display: flex;
}

main {
    width: 100%;
    padding: 0 35px 0 50px;
    //Display is flex to fill the page with flex: 1;
    display: flex;
    flex-direction: column;
}

.storyset {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    > a {
        margin-top: -40px;
    }
}
