.text-first-column {
    display: flex;
    justify-content: flex-end;
}

.picture {
    width: 35rem;
    height: 42rem;
    object-fit: cover;
}

.title-home {
    margin-top: 4.5rem;
    margin-bottom: 6.5rem;
}

